trunk/lslSnippetsApp/lslSnippetsApp/LSLSnippet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://joeswammi.com/sl/se/LSLSnippet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LSLSnippets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CodeSnippet">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Snippet">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="InsertToEvent" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Format" type="xs:string" use="required" />
            <xs:attribute name="Title" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>